<!-- templates\checklists\item_row.html-->
<div class="control-row" id="control-row-{{ item.id }}">
    <h4>{{ item.title }}</h4>
    
    <div id="status-container-{{ response.id }}" class="btn-group">
        {% include 'checklists/partials/status_buttons.html' with resp=response %}
    </div>

    <input type="text" name="comment" 
           value="{{ response.comment|default:'' }}"
           hx-trigger="keyup changed delay:1s" 
           hx-post="{% url 'checklists:update_response' response.id %}" 
           hx-swap="none"
           placeholder="Add notes...">
</div>